{% extends "base.html" %}

{% block content %}

<h2 style="text-align:center;">Your Cart</h2>

<table border="1" width="60%" align="center">

<tr>
<th>Product</th>
<th>Price</th>
<th>Qty</th>
<th>Total</th>
</tr>

{% for item in cart_items %}

<tr>

<td>{{ item.name }}</td>
<td>₹{{ item.price }}</td>
<td>{{ item.quantity }}</td>
<td>₹{{ item.price * item.quantity }}</td>

</tr>

{% endfor %}

</table>

<br>

<h3 style="text-align:center;">
Total : ₹{{ total }}
</h3>

<div style="text-align:center;">
<a href="/checkout">
<button>Checkout</button>
</a>
</div>

{% endblock %}